*.pth filter=lfs diff=lfs merge=lfs -text
knowledgeDistillation/save_train_data/checkpoint_t.pth filter=lfs diff=lfs merge=lfs -text
Res2Net/save_train_data/best.pth filter=lfs diff=lfs merge=lfs -text
